* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  position: relative;
}
body {
  background: #eee;
  padding: 0;
}

footer {
  background-color: #343a40;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5vh;
}

footer p {
  color: white;
}

.register {
  margin-left: 175px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.register-section {
  /* setting the background image to cover the width of the page */
  background-image: url("https://images.unsplash.com/photo-1576495199011-eb94736d05d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.card {
  margin-top: 70px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

/* this is for the width of the carousel */
.w-100 {
  width: 80%;
}

.carousal-image {
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
  width: 80%;
}

.footer {
  padding: 2%;
}

.testimonial-section {
  background-color: #343a40;
  color: white;
  margin-top: 50px;
}

.social-section {
  margin-top: 50px;
}

.icon-divider {
  padding-bottom: 40px;
}

.row-divider {
  text-align: center;
}
