* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  position: relative;
}
body {
  background: #eee;
  padding: 0;
}

footer {
  background-color: #343a40;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5vh;
}

footer p {
  color: white;
}

/* navbar */

/* This is the title section */
/* setting the background image to cover the width of the page */

.Hero-styles {
  background-image: url("https://images.unsplash.com/photo-1576495199011-eb94736d05d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80");
  background-size: cover;
}

@media (min-width: 1024px) {
  .Hero-styles {
    background-size: auto;
    height: 550px;
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .Hero-styles {
    background-size: cover;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1900px) {
  .Hero-styles {
    background-size: cover;
    height: 950px;
    width: 100%;
    background-repeat: no-repeat;
  }
}

.title {
  text-align: center;
}

/* search bar */
.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.searchbar {
  margin-top: 30px;
  align-content: center;
  text-align: center;
}

@media (min-width: 1024px) {
  .searchbar {
    margin-top: 10px;
    align-content: center;
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .searchbar {
    margin-top: 20px;
    align-content: center;
    text-align: center;
  }
}

.search {
  align-content: center;
}

/* message section */
.message {
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 1024px) {
  .message {
    text-align: center;
    margin-top: 0px;
  }
}

/* This is the register button */
.register-button {
  margin-left: 175px;
  margin-top: 30px;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .register-button {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1400px) {
  .register-button {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* this ecncompasses the entire carousel */
.testimonial-section {
  background-color: white;
  margin-top: 30px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1024px) {
  .testimonial-section {
    background-color: white;
    margin-top: 30px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1400px) {
  .testimonial-section {
    background-color: white;
    margin-top: 30px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

/* this is for the width of the carousel */
.carousal-image {
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
  width: 100%;
}

/* this is the card section */

.card {
  margin-top: 50px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1024px) {
  .card {
    padding: 20px;
    margin-top: 80px;
  }
}

/* this includes all the cards and the background */
@media (min-width: 1024px) {
  .cardDeck {
    padding: 20px;
  }
}

/* this is the social media section */
.social-section {
  margin-top: 50px;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .social-section {
    margin-top: 20px;
    margin-bottom: -50px;
  }
}

@media (min-width: 1400px) {
  .social-section {
    margin-top: 20px;
    margin-bottom: -60px;
  }
}

.icon-divider {
  padding-bottom: 40px;
}

.row-divider {
  text-align: center;
}

.footer {
  padding: 2%;
}
